// This file has selectors that will be throughout the application.
// _base.scss is for basic stuff => body, a, button, etc.
body {
  background-color: $white;
  margin: 0;
  overflow: hidden;
  test2: prop;
}