// This file applies to individual elements
// This file in particular will likely be broken
// out into many files eg. _component_home.scss, _component_charts.scss


.main_header {
  background-image: linear-gradient($gray, darken($gray, 20%));
  border-bottom: $border--basic;
  @include group;
}
.inputs_header {
  @extend %header-part;
  width: 20%;
  &--title {
    @extend %header-title;
  }
  &--panel_tabs {}
  &--panel_tab {
    background-image: linear-gradient(lighten($black, 60%), $black);
    border: 0.2em solid $white;
    border-radius: 100%;
    color: $white;
    display: inline-block;
    float: left;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    height: 2em;
    width: 2em;
    &:hover {
      background-image: linear-gradient($black, lighten($black, 60%));
    }
  }
  &--panel_toggle {}
}
.render_header {
  @extend %header-part;
  width: 55%;
  &--title {
    @extend %header-title;
  }
  &--input {}
}
.profile_header {
  @extend %header-part;
  position: absolute;
  right: 0;
  top: 0;
}
.results_header {
  @extend %header-part;
  width: 25%;
  &--title {
    @extend %header-title;
  }
}
#left-panel-toggle {
  cursor: pointer;
  float: right;
}
$size--inputs_panel--width: 20%;
$size--resultes_panel--width: 25%;
.panel_toggle {
  background-color: darken($gray, 20%);
  border-bottom: $border--basic;
  position: absolute;
  top: 0;
  &--inputs_panel {
    left: 100%;
    border-right: $border--basic;
  }
  &--results_panel {
    right: 100%;
    border-left: $border--basic;
  }
}
.main_content {
  position: relative;
  &--inputs_panel {
    @extend %body-area;
    border-right: $border--basic;
    left: 0;
    width: $size--inputs_panel--width;
    &.closed {
      margin-left: -$size--inputs_panel--width;
    }
  }
  &--render_panel {
    width: 100%;
    height: 100%;
  }
  &--results_panel {
    @extend %body-area;
    border-left: $border--basic;
    right: 0;
    width: $size--resultes_panel--width;
    &.closed {
      margin-right: -$size--resultes_panel--width;
    }
  }
}

// Jquery Tabs
.ui-tabs {
  .ui-tabs-nav {
    .ui-tabs-anchor {
      padding: 0.5em;
    }
  }
}

.clear {
  clear: both;
}
  
