
#left-panel-toggle {
  float: right;
  margin-bottom: 10px;
  cursor: pointer;
}

.panel {
  background-color: @darkGray;

  .panel-content {
    display: table;
    width: 100%;

    select {
      color: @black;
      border-radius: 5px;
      width: 100%;
    }

    h3 {
      margin: 4px 0; 
    }

    .control {
      margin-left: 5px;
      margin-right: 5px;

      &.half {
        display: inline-block;
        width: 40%;
        text-align: center;

        .ui-slider-vertical {
          margin-left: 40%;
        }
      }
    }

    label {
      display: block;
      margin-top: 10px;
      margin-bottom: 3px;
    }

  }
}


.input-menu {
  width: 100%;
  margin-bottom: 10px;
}