
.clear-both {
  clear: both;
}

#left-panel-toggle {
  float: right;
  margin-bottom: 10px;
  cursor: pointer;
}

.panel {
  background-color: @darkGray;

  >div {
    display: table;
    width: 100%;

    >div {
      display: table-row;
      
      >div {
        display: table-cell;
        padding: 6px;
      }
    }

    .ui-accordion-content {
      padding: 0;
    }

    select {
      color: @black;
    }

    h3 {
      margin: 4px 0; 
    }

    .control {
      margin-left: 5px;
      margin-right: 5px;
    }

    label {
      display: block;
      margin-top: 10px;
      margin-bottom: 3px;
    }
  }
}


.input-menu {
  width: 100%;
  margin-bottom: 10px;
}