body {
  background-color: white;
  margin: 0;
  overflow: hidden;
}

#controls {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #efefef;
  font-size: 12px;
}
#controls .control {
  margin: 14px;
  border-radius: 1em;
}
#controls .indent {
  padding-left: 12px;
}
#controls label {
  color: #6e6e6e;
}
#controls .ui-slider {
  margin: 4px 0 0 0;
}

#canvas {
  position: fixed;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 150px;
}
#canvas canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

#results {
  position: fixed;
  left: 200px;
  right: 0;
  bottom: 0;
  height: 150px;
  border-top: 1px solid #9e9e9e;
}
